h1 {
    text-align: center;
}

/* #title_color{
    color: #FFFFFF;
} */

.jbt_custom {
    background-color: #e8ebef;
    height: 150px;
    padding: 40px;
}

/* .bdropdown {
    background-color: #e8ebef;
    border-style: none;    
} */

.card-num-height-custom {
    height: 163.6px;
}

.row-custom {
    margin-bottom: 10px;
}

.img-custom {
    width: 100%;    
}

.img-custom:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),
    0 8px 16px 0 rgba(0,0,0,0.2);
}